#Ignore mongodb folder
mongodb

#Ignore redis server
Redis-64.2.8.9

#Ignore web storm files
.idea/

#ignore db start script
+redis-server.bat
+mongodb.bat

#Ignore logs
errors.log
npm-debug.log

#Ignore modules
node_modules/*

#save tempoiq module
!node_modules/tempoiq/

#Ignore uploads
uploads/

#Ignore exported files
client/exported/

.elasticbeanstalk/

.sass-cache/

#Ignore .DS_Store
.DS_Store
