html(lang="en", style="height: 100%;")
    head
        meta(charset="utf-8")
        title BrighterLink Set Password
        != CDN('/assets/img/favicon.ico')
        link(href="//cloud.webtype.com/css/f3ad5809-8f3d-4d94-a57b-31fdc688f3fa.css", rel="stylesheet", type="text/css")
        != CDN('/assets/css/general.min.css')
        != CDN('/assets/css/components.min.css')
        != CDN('/lib/uniform/css/uniform-theme.css')
        != CDN('/lib/notyfy/jquery.notyfy.css')
        != CDN('/lib/notyfy/boo-notyfy.css')
        != CDN('/lib/notyfy/themes/boo-notyfylight.css')
        
        != CDN('/lib/bugreport/bug.report.js')
        != CDN('/lib/jquery/jquery.js')
        != CDN('/lib/jquery/jquery.passstrength.js')
        != CDN('/lib/uniform/jquery.uniform.js')
        != CDN('/lib/validate/js/jquery.validate.min.js')
        != CDN('/lib/notyfy/jquery.notyfy.js')
    body(style="height: 100%; display: table; width: 100%;")
        div(class="centered", style="display: table-cell; vertical-align: middle; width: 100%;")
            div.login-page
                div(class="modal modal-login", id="set-password-dlg")
                    div.screen
                        div.modal-dialog
                            div.modal-content
                                div.modal-header
                                div.modal-body
                                    div.row
                                        div.landing-box
                                            div.wrapper
                                                div.set-password-form
                                                    form(id="set-password-form")
                                                        div.title Set Password
                                                        div(class="controls", style="margin-bottom: 15px;")
                                                            input(type="password", id="password", name="password", class="form-control", placeholder="Password")
                                                        div.controls
                                                            input(type="password", id="password_confirm", name="password_confirm", class="form-control", placeholder="Confirmation Password")
                                                        div.alert
                                                            span
                                                        div.form-actions
                                                            div.loading
                                                                div(class="ajax_loading_panel", style="display: none; top: 20;")
                                                            button(type="button", class="forgot-pass-btn", id="set-pass-btn", style="width: 100%;") Set Password
        script(type='text/javascript').
            $('#password').keydown(function(e) {
                if (e.keyCode === 13) {
                    $('#set-pass-btn').click();
                }
            });
            $('#password_confirm').keydown(function(e) {
                if (e.keyCode === 13) {
                    $('#set-pass-btn').click();
                }
            });
            $('#set-pass-btn').click(function() {
                if ($("#set-password-form").valid()) {
                    $('.ajax_loading_panel').show();
                    var password = $('#password').val();
                    var data = {'password': password, 'token': !{JSON.stringify(token)}};
                    $.ajax({
                        url: '/v1/users/password',
                        type: 'POST',
                        data: data,
                        cache: false,
                        dataType: 'json',
                        success: function(result) {
                            if (result.success == 1) {
                                location.href = result.message;
                            } else {
                                processSetPassword(result.message);
                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                           $('.ajax_loading_panel').hide();
                            processSetPassword(JSON.parse(jqXHR.responseText).message);
                        }
                    });
                }
            });
            function processSetPassword(status) {
                $('.alert').show();
                $('.alert').addClass('alert-error');
                $('.alert span').text(status);
            }
            $.validator.addMethod("passwordCheckCapital", function (value, element) {
                if (value.match(/([A-Z])/)) {
                    return true;
                }
            }, 'Password must contain at least one capital letter.');
            $.validator.addMethod("passwordCheckLetter", function (value, element) {
                if (value.match(/([a-z])/)) {
                    return true;
                }
            }, 'Password must contain at least one lowercase letter.');
            $.validator.addMethod("passwordCheckNumber", function (value, element) {
                if (value.match(/([0-9])/)) {
                    return true;
                }
            }, 'Password must contain at least one number.');
            $(function () {
                $('#password').passStrengthify({
                  minimum: 5,
                  labels: {
                    tooShort: 'Too short',
                    passwordStrength: 'Password strength'
                }});
                $(function (accForm) {
                    accForm('#set-password-form').validate({
                            rules: {
                                    password: {
                                            required: true,
                                            minlength: 8,
                                            passwordCheckCapital : true,
                                            passwordCheckLetter : true,
                                            passwordCheckNumber : true
                                    },
                                    password_confirm: {
                                            required: true,
                                            equalTo: "#password"
                                    }
                            },
                            messages: {
                                    password: {
                                            required: "Please enter a Password",
                                            minlength: "Password must be at least 8 characters"
                                    },
                                    password_confirm: {
                                            required: "Please enter a Confirmation Password",
                                            equalTo: "Password and Confirm Password should be same"
                                    }
                            },
                            highlight: function (label) {
                                    $(label).closest('.controls').addClass('error');
                            },
                            success: function (label) {
                                    $(label).closest('.controls').removeClass('error');
                            },
                            errorPlacement: function (error, label) {
                                    $(label).closest('.controls').append(error);
                            }
                     });
                 });
            });