html(lang="en", xmlns:ng="http://angularjs.org")
    head
        meta(charset='utf8')
        title BrighterLink Platform
    body
        div.container-fluid
            div.top-bar
                div.logo
                    img(src="https://cdn.brightergy.com/bl-bv-management/assets/img/logo2.png")
                div.header
                    a(href="https://brighterlink.brightergy.com/management", target="_blank") 
                        h1 Presentation
                    a(href="https://brighterlink.brightergy.com/datasense", target="_blank") 
                        h1 Analyze
                div.clear
            div.content
                div #{content}
            div.footer
                div.social_links
                    a(href="https://plus.google.com/+Brightergy/posts", target="_blank")
                        img(src="https://cdn.brightergy.com/assets/img/google_icon.png")
                    a(href="https://twitter.com/brightergy", target="_blank")
                        img(src="https://cdn.brightergy.com/assets/img/twitter_icon.png")
                    a(href="https://www.linkedin.com/company/brightergy", target="_blank")
                        img(src="https://cdn.brightergy.com/assets/img/linkedin_icon.png")
                    a(href="https://www.facebook.com/brightergy", target="_blank")
                        img(src="https://cdn.brightergy.com/assets/img/facebook_icon.png")
                div.clear
        div.copyright
            p &#169; 2015 Brightergy. 1617 Main Street, 3rd Floor, Kansas City, MO 64108